.apple-heading{
    text-align: center;
    // color: #fff;
    // font-size: 5rem;
}

.apple-icon-top{
    margin-top: 2%;
    margin-left: 2%;
}

.apple-row{
    margin-top: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    // background-color: red;
    height: 40vh;
    width: 100%;
    // align-items: flex-start;
}

.apple-card{
    // background-color: blue;
    width: 100%;
}

.apple-row-name{
    // margin-top: 1%;
    font-weight: 400;
    font-size: 2.5rem;
}

.card-images{
    height: 80%;
    width: 70%;
}

.watch-images{
    height: 50%;
    width: 40%;
}


// .card-item-name{
//     font-size: 12px;
// }

// Media queries 

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .apple-row{
        justify-content: space-around;
        width: 120%;
    }

    .apple-card{
        width: 25%;
        max-height: 30vh;
    }

    .card-images{
        max-height: 50%;
        max-width: 100%;
    }

    .btns-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1%;
    }

    .appleBtn{
        width: 75%;
    }


}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
      .appleBtn{
        width: 57%;
    }
}


/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .appleBtn{
        width: 65%;
    }
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .card-images{
        max-height: 50%;
        max-width: 100%;
    }

    .watch-images{
        max-height: 30%;
        max-width: 100%;
    }
}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .card-images{
        max-height: 40%;
        max-width: 100%;
    }

    .watch-images{
        max-height: 30%;
        max-width: 100%;
    }
}
