.apple-heading{
    text-align: center;
    // color: #fff;
    // font-size: 5rem;
}

.apple-row{
    margin-top: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    // background-color: red;
    height: 40vh;
    width: 100%;
    // align-items: flex-start;
}

.apple-card{
    // background-color: blue;
    width: 100%;
}

.apple-row-name{
    // margin-top: 1%;
    font-weight: 400;
    font-size: 2.5rem;
}

.card-images{
    height: 80%;
    width: 70%;
}

.watch-images{
    height: 50%;
    width: 40%;
}


.card-item-name{
    font-size: 1.5rem;
}