.cart-head{
    text-align: center;
}

.cart-container{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

.cart-right{
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button{
        background-color: red;
    }
}

.checkout-btn{
    margin-top: 1%;
}

.cart-left{
    display: flex;
    align-items: center;
}

// Media queries 

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .other-item-name{
      font-size: 1.5em;
  }

  .other-item-price{
      font-size: 1.5em;
  }

  .cart-right{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;

    button{
        width: 100%;
        text-align: center;
        font-size: .9em;
    }
    



}

};