.cart-head{
    text-align: center;
}

.cart-container{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

.cart-right{
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button{
        background-color: red;
    }
}

.checkout-btn{
    margin-top: 1%;
}

.cart-left{
    display: flex;
    align-items: center;
}