.navbarItems{
    display: flex;
    background-color: #fff;
    color: #000;
    align-items: center;
    justify-content: space-between;
    height: 5vh;
}

.left-nav{
    display: flex;
    justify-content: center;
}

.navbar-list{
    // display: flex;
    list-style: none;
    display: flex;
    padding-right: 10%;

    li{
        text-decoration: none;
        // margin-right: 9%;
        margin-right: 20%;
        color: #000;
    }
}

.navbar-logo{
    font-size: 2rem;
}

.shopping-cart-btn{
    height: fit-content;
    background: none;
    border: none;
}