.navbarItems{
    display: flex;
    background-color: #fff;
    color: #000;
    align-items: center;
    justify-content: space-between;
    height: 5vh;
}

.left-nav{
    display: flex;
    justify-content: center;
}

.navbar-list{
    // display: flex;
    list-style: none;
    display: flex;
    padding-right: 10%;

    li{
        text-decoration: none;
        // margin-right: 9%;
        margin-right: 20%;
        color: #000;
    }
}

.navbar-logo{
    font-size: 2rem;
    padding-bottom: 5%;
}

.shopping-cart-btn{
    height: fit-content;
    background: none;
    border: none;
}

// Media Queries 

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
        .navbar-logo{
            font-size: .8em;
            padding-bottom: 55%;
            display: none;
        }
}