@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

.home{
    
    background-attachment: fixed;
      height: 70vh;
      background: url("../imgs/iphone-wheel.jpeg");
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
  }
  
  .home-top-text{
      margin: 0 auto;
      padding-top: 25vh;
      // background-color: red;
      width: 20%;
      text-align: center;
      // font-family: 'Roboto Slab', serif;
  
      h1{
          font-size: 3rem;
      }
  }
    
  .card-container{
      display: flex;
      justify-content: space-around;
      background: black;
      margin-top: 1%;
  }

  .card{
      display: flex;
      color: white;
      background: blue;
      width: 25%;
      text-align: center;
      min-height: 40vh;
  }
  
  .card-img{
    
  }

  .card-text{
    
  }

  .card-stats{
 
  }