@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

.home{
    
    background-attachment: fixed;
      height: 70vh;
      background: url("../imgs/iphone-wheel.jpeg");
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
  }
  
  .home-top-text{
      margin: 0 auto;
      padding-top: 25vh;
      // background-color: red;
      width: 20%;
      text-align: center;
      // font-family: 'Roboto Slab', serif;
  
      h1{
          font-size: 3rem;
      }
  }
    
  .bottom-head{
      text-align: center;
      font-size: 2rem;
  }

  .card-container{
      display: flex;
      justify-content: space-around;
    //   background: black;
      margin-top: 1%;
  }

  .card{
      display: flex;
      background: url("../imgs/man-holding-iphone.jpg");
      background-size: cover;
      width: 25%;
      text-align: center;
      min-height: 60vh;
      border-radius: 18px;
  }

  .card-samsung{
    background-image: url("../imgs/man-holding-samsung.jpg");
    background-size: cover;
      width: 25%;
      text-align: center;
      min-height: 60vh;
      border-radius: 18px;
      font-size: 1.5rem;
      background-position: center;
  }
  
  .card-apple{
    background-image: url("../imgs/man-holding-iphone.jpg");
    background-size: cover;
      width: 25%;
      text-align: center;
      min-height: 60vh;
      border-radius: 18px;
      font-size: 1.5rem;
      background-position: center;
  }

  .card-other{
    background-image: url("../imgs/person-playing-oculus.jpg");
    background-size: cover;
      width: 25%;
      text-align: center;
      min-height: 60vh;
      border-radius: 18px;
      font-size: 1.5rem;
      background-position: center;
  }

  .bottom-button{
      margin-top: 85%;
      padding:0.35em 1.2em;
      border:0.1em solid #FFFFFF;
      border-radius: .7em;
      text-decoration:none;
      color:#000000;
      text-align:center;
      transition: all 0.2s;
      background: #FFFFFF;
  }

  .bottom-button:hover{
    color:#000000;
    background-color:#dddddd;
    }
