.samsung-heading{
    text-align: center;
}

.samsung-row-name{
    font-weight: 500;
    font-size: 2.5rem;
}

.samsung-row{
    margin-top: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    // background-color: red;
    height: 40vh;
    width: 100%;
}

.samsung-card{
    // background-color: blue;
    width: 100%;
}

.samsung-watch-card{
     background-color: blue;
    // width: 50%;
    vertical-align: top;
}

.btns-container{
    display: flex;
}

.card-images{
    height: 70%;
    width: 55%;
}

.samsung-tablet-card-images{
    height: 70%;
    width: 40%;
}

.samsung-watch-card-images{
    height: 50%;
    width: 45%;
}

.card-item-name{
    font-size: 1.5rem;
}

.card-watch-name{
    font-size: 1.2rem;
}
